<!--home page that has 2 clickable buttons, one for zoom data, one for webex-->

<!doctype html>

<title>Welcome to Old and New!</title>
<h1> Welcome to Old and New!</h1>
<h1>Upload a feature set or use ours to see how a Logistic Regression model categorizes old and new features of web apps!</h1>
<!--could probably use a more in-depth description of what all of our stuff does-->

<a href="/upload">Upload a feature set</a>

</br>

<a href="/results/zoom">Use our Zoom data</a>

</br>

<a href="/results/webex">Use our Webex data</a>

</br>